<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="container">

  <div class="card">

    <div class="logo">
      BarberFlow
    </div>

    <h1>Bem-vindo 👋</h1>

    <p class="welcome-text"></p>

    <div class="buttons" *ngIf="isLoggedIn()">
      <button (click)="logout()">Sair</button>
    </div>

    <div class="buttons" *ngIf="!isLoggedIn()">
      <button (click)="irParaLogin()">Login</button>
      <button (click)="irParaCadastro()">Cadastro</button>
    </div>

    <div class="menu">

      <h3>Menu</h3>

      <ul>

        <li (click)="irParaServices()">
          💈 Serviços
        </li>

        <li (click)="irParaAppointments()">
          📅 Agendamentos
        </li>

      </ul>

    </div>

    <div class="agendamento" *ngIf="!carregando && proximoAgendamento">

      <div class="agendamento-header">

        <div class="avatar">
          👤
        </div>

        <div>

          <h2>Olá!</h2>

          <p>
            Aqui está seu próximo agendamento:
          </p>

        </div>

      </div>

      <div class="detalhes-agendamento">

        <div class="detalhe">

          <span class="icone">
            📅
          </span>

          <div>

            <span class="label">
              Data
            </span>

            <span class="valor">
              {{ proximoAgendamento.appointmentDate | date:'dd/MM/yyyy' }}
            </span>

          </div>

        </div>

        <div class="detalhe">

          <span class="icone">
            🕐
          </span>

          <div>

            <span class="label">
              Horário
            </span>

            <span class="valor">
              {{ proximoAgendamento.appointmentDate | date:'HH:mm' }}
            </span>

          </div>

        </div>

        <div class="detalhe">

          <span class="icone">
            ✂️
          </span>

          <div>

            <span class="label">
              Serviço
            </span>

            <span class="valor">
              {{ proximoAgendamento.serviceName }}
            </span>

          </div>

        </div>

      </div>

      <p class="info-text">
        ⓘ Seus agendamentos podem ser gerenciados na
        <strong>página de agendamentos.</strong>
      </p>

      <button
        class="btn-agendamentos"
        (click)="irParaAppointments()">

        Ver meus agendamentos

      </button>

    </div>

    <div class="agendamento" *ngIf="!carregando && !proximoAgendamento">

      <div class="agendamento-header">

        <div class="avatar">
          📅
        </div>

        <div>

          <h2>Nenhum agendamento</h2>

          <p>
            Você ainda não possui próximos agendamentos.
          </p>

        </div>

      </div>

      <button
        class="btn-agendamentos"
        (click)="irParaNovoAgendamento()">

        Fazer um agendamento

      </button>

    </div>

  </div>

</div>
