<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="container">
  <div class="card">

    <div class="logo">
      BarberFlow
    </div>

    <h1>Bem-vindo</h1>

    <p class="welcome-text">
      Gerencie sua barbearia de forma simples e organizada.
    </p>

    <div class="buttons">
      <button (click)="irParaLogin()">Login</button>
      <button (click)="irParaCadastro()">Cadastro</button>
    </div>

    <div class="menu">
      <h3>Menu</h3>

      <ul>
        <li>✂️ Barbeiros</li>
        <li>💈 Serviços</li>
        <li>📅 Agendamentos</li>
      </ul>
    </div>

    <div class="barbeiros">
      <h3>Barbeiros Cadastrados</h3>

      <div *ngFor="let barbeiro of barbeiros">
        <strong>{{ barbeiro.name }}</strong>
        <p>{{ barbeiro.specialty }}</p>
      </div>
    </div>

  </div>
</div>

<!-- <div>
  <h1>TESTE HOME</h1>
  <p>Total: {{ barbeiros.length }}</p>
  <pre>{{ barbeiros | json }}</pre>
  <div *ngFor="let barbeiro of barbeiros">
    <h3>{{ barbeiro.name }}</h3>
  </div>
</div> -->

