<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

<div class="container">

  <div class="card">

    <button class="btn-voltar" (click)="voltar()">
      ← Voltar
    </button>

    <div class="logo">
      BarberFlow
    </div>

    <h1>Agendamentos</h1>

    <p class="welcome-text">
      Escolha um barbeiro, um serviço e um horário para realizar seu agendamento.
    </p>

    <div class="appointment-card">

      <div class="form-agendamento">

        <label>Barber</label>
        <select
          id="barber"
          [(ngModel)]="selectedBarberId">
          <option selected disabled>
            Selecione um barbeiro
          </option>
          <option *ngFor="let barbeiro of barbeiros" [value]="barbeiro.id">
            {{ barbeiro.name }}
          </option>
       </select>


       <label>Serviço</label>
        <select
          id="service"
          [(ngModel)]="selectedServiceId">
          <option selected disabled>
            Selecione um serviço
          </option>
          <option *ngFor="let service of services"
                  [value]="service.id">
            {{ service.name }}
          </option>
      </select>


        <label for="date">Data</label>
        <input id="date" type="date">

        <label for="time">Horário</label>
        <input id="time" type="time">

        <button
          class="btn-confirmar"
          (click)="confirmarAgendamento()">
          Confirmar Agendamento
        </button>

      </div>

    </div>

  </div>

</div>
